<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">    
    </head>
    <body>

      <%= render '/common/navegacion' %>
      
      <div class="container-fluid">
        <table class="table">
          <thead>
            <tr>
              <th style="text-align: center;" width="90%">Name</th>
              <th width="10%"/>
            </tr>
          </thead>        
          <% @products.each do |p| %>
            <tr>
              <td><%= p.name %></td>
              <% if @cart_products.include? p %>
                <td align="center">
                  <%= link_to cart_add_products_submit_path(id: p, c: @cart), method: :post do %>
                    <button class="btn btn-primary btn-primary-nopadding center-block"><i class="glyphicon glyphicon-ok"></i></button>
                  <% end %>
                </td>
              <% else %>
                <td align="center">
                  <%= link_to cart_add_products_submit_path(id: p, c: @cart), method: :post do %>
                    <button class="btn btn-primary btn-primary-nopadding center-block"><i class="glyphicon glyphicon-remove"></i></button>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
      </table>
        
      </div>
  </body>
</html>